:host {
  width: 100%;
  height: 100%;
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  h1 {
    font-size: 2em;
    font-weight: bold;
    color: red;
    padding: 1em;
  }
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

  & > * {
    margin: 0 0.5em;
  }

  .game-score {
    font-size: 2em;
  }

  .game-image {
    width: 210px;
    height: 300px;
    border: 5px solid black;
    overflow: hidden;
  }

  .game-layout {
    height: 100%;

    .game-quiz, .game-result {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
    }
  }

  .game-button {
    border: none;
    color: white;
    background-color: red;
    padding: 0.5em 1em;

    &:hover {
      background-color: black;
    }
  }

  .game-giveup {
    cursor: pointer;
    font-size: 0.8em;
  }
}
