:host {
  min-width: 100%;
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

.logo {
  margin: 0.5em 1em;
  flex: 1;
}

.title {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 1em;
}

.empty {
  flex: 1;
}
