@import "~styles/reset";
@import "~normalize.css/normalize.css";

html, body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

router-outlet + * {
  flex: 1 1 auto;
  min-height: fit-content;
}
