<main>
  <h1>Bem vindo ao jogo!</h1>
  <p>Esse é um jogo de adivinhação do nome do ator/atriz dos filmes da Marvel</p>
  <p>Regras do jogo:</p>
  <ul>
    <li>Se você acertar o nome ganha 1 ponto :)</li>
    <li>Se você errar o nome perde 1 ponto :(</li>
    <li>Se não souber e usar a dica para acertar não perde ponto mas também não ganha ;)</li>
  </ul>
  <p>Escolha um filme para começar o jogo:</p>
  <ul class="grid-filmes">
    <li *ngFor="let filme of filmes; let i = index">
      <div tabindex="0" class="card" (click)="play(filme)">
        <img src="{{ i % 2 == 0 ? image : image2 }}" alt="Filme">
        <span class="filme-titulo">{{ filme.title }}</span>
        <span class="filme-ano">{{ filme.year }}</span>
      </div>
    </li>
  </ul>
</main>
