<main class="container">
  <h1>Regras do jogo</h1>
  <ul class="rules">
    <li>Escolha um dos filmes disponíveis abaixo</li>
    <li>Você terá que adivinhar o nome de 10 personagens do filme escolhido</li>
    <li>Se você acertar o nome ganha 1 ponto :)</li>
    <li>Se você errar o nome perde 1 ponto :(</li>
    <li>Se não souber e usar a dica para acertar não perde ponto, mas também não ganha ;)</li>
  </ul>
  <ul class="movie-grid">
    <li *ngFor="let m of movies; let i = index">
      <div tabindex="0" class="card" (click)="play(m)">
        <img src="{{ m.poster.large }}" alt="Poster do filme {{ m.title }}">
      </div>
    </li>
  </ul>
</main>
