:host {
  width: 100%;
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  h1 {
    font-size: 200%;
    font-weight: bold;
    color: red;
    padding: 1em;
  }
}

.rules {
  list-style: square;
  margin-bottom: 1em;

  li {
    padding: 0.2em 0;
  }
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 210px;
  height: 300px;
  border: 5px solid black;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px gray;
  background-color: black;
  color: white;
  overflow: hidden;

  &:hover {
    border-color: red;
    cursor: pointer;
  }
}
